<div class="min-h-screen flex flex-col items-center pt-24 gap-10">

  <h1 class="text-6xl font-bold">
    78期Aクラス卒業まで
  </h1>

  <div
    data-controller="countdown"
    data-countdown-target-time-value="<%= @target_time.iso8601 %>"
    class="text-9xl font-bold"
  >
  </div>

</div>