<div class="min-h-screen flex text-6xl justify-center">  78期Aクラス卒業まで
</div>
<div
  data-controller="countdown"
  data-countdown-target-time-value="<%= @target_time.iso8601 %>"
  class="text-9xl font-bold"
>
</div>
